.lieux{
   display: flex; 
   flex-wrap: wrap;
   justify-content: center;
}
div{
    padding: 3%;
    margin: 3%;
    width: 20%;
    background-color: rgb(21, 138, 247)
}
div img{
    width: 100%;
    height: auto;
}
h3{
    color: rgb(5, 5, 161);
}
h1{
    color: blue;
}





